<h1>All Bookmarks</h1>
<h2><%= params['format'] %></h2>
<br>
<%= link_to 'Create a new bookmark', new_list_bookmark_path, class: "btn btn-secondary" %>
<br>
<br>
<div class='list-container'>
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
      <div class='card text-align-center'>
        <h4 class='m-3'><%= bookmark.comment%></h4>
          <div class="links">
            <span> <%= link_to 'movie', movie_path(params['list_id'])%></span>
            <span><%= link_to 'list', lists_path(params['list_id'])%></span>
            <span><%= link_to 'delete', bookmark_path(bookmark.id), method: :delete%></span>
          </div>
      </div>
    <% end %>
  </div>
</div>
